*{
    margin: 0%;
    padding: 0%;
}
/* WebKit-based browsers */
::-webkit-scrollbar {
    width: 15px;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #888;
  }
  
  ::-webkit-scrollbar-track {
    background-color: #f1f1f1;
  }
  
  /* Firefox */
  ::-moz-scrollbar {
    width: 15px;
  }
  
  ::-moz-scrollbar-thumb {
    background-color: #888;
  }
  
  ::-moz-scrollbar-track {
    background-color: #f1f1f1;
  }
  
.about_us_content{
    width: 90%;
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 2rem;
    /* border: 1px solid red; */

}
.box1{
    width: 100%;
    height: auto;
    /* border: 1px solid red; */
    display: flex;
    flex-wrap: wrap;
}
.box_content{
    width: 50%;
    /* margin-left: 5rem; */
}
.box1 img{
    margin-top:2rem;


}
.box_content1{
    display: flex;

}
.box_content1 .col11{
width: 10rem;
}
.col11 h1{
    text-align: center;
    color: blue;
    font-size: 2.5rem;
}
.col11 p{
    text-align: center;
}

/* OurVisionPage */
.OurVisionPage{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    background-color: rgb(248, 245, 245);
    margin: 3rem 0rem;
}
.visionBoxImage {
padding: 3rem;
width: 50%;
}
.visionBoxImage img{
    width: 80%;
    margin: auto;
    display: inherit;
}
.visionBox_content{
    padding-top: 3rem;
    width: 40%;
}
.visionBox_content img{
    width: 46px;
    height: 44px;
    margin-right: 1rem;
}
.visionBox_content div{
    display: flex;
}
.visionBox_content div p{
    font-size: 20px;
}
/* Team design  */
.teamBox{
    width: 90%;
    /* border: 1px solid blue; */
    display: flex;
    margin: auto;
    padding: 1rem;
}
.TeamBoxcontent{
    width: 30%;
    border: 1px solid rgb(212, 211, 211);
    height: auto;
    margin: auto;
    border-radius: 10px;

}
.TeamBoxcontent img{
    width: 100%;
}

@media (max-width: 477px) {
    .box_content {
        width: 100%;
     
    }
    .box_content1{
        display: flex;
        flex-wrap: wrap;
    }
    .box1 img{
        margin-top:2rem;

    
    }
    .OurVisionPage {
        display: flex;
        flex-wrap: wrap;
    }
    .visionBoxImage {
     
        width: 95%;
    }
    .visionBox_content {
        padding-top: 3rem;
        width: 80%;
        margin: auto;
    }
    .teamBox {
        width: 90%;
       
        display: flex;
        flex-wrap: wrap;
        margin: auto;
        padding: 1rem;
    }
    .TeamBoxcontent {
        width: 51%;
       
        margin-bottom: 1rem;
    }
}


@media (max-width: 777px) {
    .box_content {
        width: 80%;
        margin: auto;
        /* margin-left: 5rem; */
    }
    .box1 img {
        margin-top: 2rem;
        display: flex;
        margin: auto;
        margin-top: 2rem;
    }

    .visionBoxImage img {
        width: 50%;
        margin: auto;
        display: flex;
        flex-wrap: wrap;
    }
    .visionBoxImage {
        padding: 3rem;
        width: 90%;
    }
    .visionBox_content {
        padding-top: 3rem;
        width: 70%;
        margin: auto;
        margin-bottom: 2rem;
    }
}